In [1]:
%cd ..\..\..

D:\Projects\CondaAnalyses\PMI

In [2]:
import utilities

In [3]:
# Join files
df = utilities.create_base_df('cabspottingdata', ['latitude', 'longitude', 'occupancy', 'time'])
df.head()

   latitude  longitude  occupancy        time file_name                 id
0  37.75153 -122.39447          0  1211033530    abboip  abboip_1211033530
1  37.75149 -122.39447          0  1211033614    abboip  abboip_1211033614
2  37.75149 -122.39447          0  1211033674    abboip  abboip_1211033674
3  37.75149 -122.39446          0  1211033735    abboip  abboip_1211033735
4  37.75144 -122.39449          0  1211035303    abboip  abboip_1211035303

In [6]:
# timestamp to date time in seconds
import pandas as pd
from datetime import datetime
df['time'] = pd.to_datetime(df['time'], unit='s')
df.head(2)

,latitude,longitude,occupancy,time,file_name,id
0,37.75153,-122.39447,0,2008-05-17 14:12:10,abboip,abboip_1211033530
1,37.75149,-122.39447,0,2008-05-17 14:13:34,abboip,abboip_1211033614

In [14]:
# order data frame
df = df[['id', 'file_name', 'latitude', 'longitude', 'time','occupancy']]
df = df.sort_values(['id', 'time']).reset_index(drop=True)
df.head(2)

,id,file_name,latitude,longitude,time,occupancy
0,abboip_1211033530,abboip,37.75153,-122.39447,2008-05-17 14:12:10,0
1,abboip_1211033614,abboip,37.75149,-122.39447,2008-05-17 14:13:34,0

In [19]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
latitude,11220058.0,37.763601,0.053860,32.86970,37.75513,37.78106,37.79045,50.30546
longitude,11220058.0,-122.412432,0.035782,-127.08143,-122.42525,-122.41106,-122.40027,-115.56218
occupancy,11220058.0,0.447224,0.497207,0.00000,0.00000,0.00000,1.00000,1.00000

There are 11,220,058 observations in the dataset.

In [20]:
data_path = 'data_checkpoints/usecase_cab/'
df.to_csv(data_path+'base_df.csv')
del df

NameError: name 'gc' is not defined

In [21]:
import gc
gc.collect()

1143