In [1]:
%cd ..\..\..
import pandas as pd
import gc
import utilities

D:\Projects\CondaAnalyses\PMI

In [2]:
data_path = 'data_checkpoints/usecase_cab/'

In [3]:
# import the occupancy df to get the id_event feature
occupancy_df = pd.read_csv(data_path+'occupancy_state_change.csv', index_col=0)
occupancy_df.drop(['occupancy_state_change'], axis=1, inplace=True)
occupancy_df.head(2)

                  id           id_event
0  abboip_1211033530  abboip_1211033530
1  abboip_1211033614  abboip_1211033530

In [4]:
# import the origin/destinatino coordinates df
coordinates_df = pd.read_csv(data_path+'origin_destination_coordinates.csv', index_col=0)
coordinates_df.head()

,id,origin_latitude,destination_latitude,origin_longitude,destination_longitude
0,abboip_1211033530,37.75153,37.74978,-122.39447,-122.39709
1,abboip_1211033614,37.75153,37.74978,-122.39447,-122.39709
2,abboip_1211033674,37.75153,37.74978,-122.39447,-122.39709
3,abboip_1211033735,37.75153,37.74978,-122.39447,-122.39709
4,abboip_1211035303,37.75153,37.74978,-122.39447,-122.39709

In [5]:
df = occupancy_df.merge(coordinates_df, on='id')
df.head()

,id,id_event,origin_latitude,destination_latitude,origin_longitude,destination_longitude
0,abboip_1211033530,abboip_1211033530,37.75153,37.74978,-122.39447,-122.39709
1,abboip_1211033614,abboip_1211033530,37.75153,37.74978,-122.39447,-122.39709
2,abboip_1211033674,abboip_1211033530,37.75153,37.74978,-122.39447,-122.39709
3,abboip_1211033735,abboip_1211033530,37.75153,37.74978,-122.39447,-122.39709
4,abboip_1211035303,abboip_1211033530,37.75153,37.74978,-122.39447,-122.39709

In [6]:
# Make RAM Happy :)
del coordinates_df, occupancy_df
gc.collect()

0

In [7]:
df = utilities.append_haversine_distance(
    df,
    'id_event',
    'origin_latitude',
    'origin_longitude',
    'destination_latitude',
    'destination_longitude')
df.head()

,id,id_event,origin_latitude,destination_latitude,origin_longitude,destination_longitude,travelled_distance_km
0,abboip_1211033530,abboip_1211033530,37.75153,37.74978,-122.39447,-122.39709,0.301731
1,abboip_1211033614,abboip_1211033530,37.75153,37.74978,-122.39447,-122.39709,0.301731
2,abboip_1211033674,abboip_1211033530,37.75153,37.74978,-122.39447,-122.39709,0.301731
3,abboip_1211033735,abboip_1211033530,37.75153,37.74978,-122.39447,-122.39709,0.301731
4,abboip_1211035303,abboip_1211033530,37.75153,37.74978,-122.39447,-122.39709,0.301731

In [8]:
# drop unnecesary columns
df.drop(['id_event',
         'origin_latitude',
         'destination_latitude',
         'origin_longitude',
         'destination_longitude'],
        axis=1,
        inplace=True)
df.head()

                  id  travelled_distance_km
0  abboip_1211033530               0.301731
1  abboip_1211033614               0.301731
2  abboip_1211033674               0.301731
3  abboip_1211033735               0.301731
4  abboip_1211035303               0.301731

In [9]:
df.to_csv(data_path+'travelled_distance.csv')
del df
gc.collect()

0